// Custom styles.

// body {
//     background:url(/images/background.png);
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: 50% 50%;
// }

// div .post-meta .post-time {
//     color: aliceblue;
// }

// div .post-body {
//     color: black;
// }

// div .post-body p a {
//     color: cornsilk;
// }
